<!--hr/-->
<footer class= "footer" >

  <div class="container col-md-12">
    <p>
	    </br>
	    CMPE226 TEAM #1 </br>
	    Copyright© Apr 25th 2016,  WantYou - C2C Service Platform. All rights reserved.  </br>
    </p>
  </div>
</footer>