<title>WantYou - C2C Services Platform </title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../javascript/star-rating.js" type="text/javascript"></script>

<link href="../stylesheets/bootstrap-select.css" rel="stylesheet" media="screen" />
<script type="text/javascript" src="../javascript/bootstrap-select.js"></script>
